/PBO/Minggu7/nbproject/private/
/PBO/Minggu7/build/
/PBO/Minggu5/nbproject/private/
/PBO/Minggu5/build/
/PBO/Minggu8/nbproject/private/
/PBO/Minggu8/build/
/PBO/Minggu9/nbproject/private/
/PBO/Minggu9/build/
/PBO/Minggu10/nbproject/private/
/PBO/Minggu10/build/
/PBO/Minggu11/Minggu11/nbproject/private/
/PBO/Minggu11/Minggu11/build/
/PBO/Minggu12/Minggu12/nbproject/private/
/PBO/Minggu12/Minggu12/build/
/PBO/Minggu13/Minggu13/nbproject/private/
/PBO/Minggu13/Minggu13/build/
